//@use '../utils/spacing'
//@use '../utils/typos'
@use '../utils/all-utils'
@use '../utils/_colors' as color


.block
    padding: 0
    & img
        width: 100%
        @extend %bott-s
        
    h2
        @extend %h2-title
    p, ul
        @extend %paragraphe
    ul
        list-style: square
        margin-left: 30px
        @extend %topbott-s