html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.flux {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
}

body {
  font-family: "Open Sans", sans-serif;
}

.header__navbar {
  font-size: 0.9rem;
  text-transform: uppercase;
}

.header__navbar ul li a:hover {
  color: #f1f1f1;
}

.header__baseline {
  text-align: center;
  font-size: 2.5rem;
  color: #424141;
  font-family: "Allison", cursive;
}

.block p, .block ul {
  text-align: justify;
  padding: 0 5%;
  margin: 1.5rem 0;
  line-height: 1.5rem;
  color: #6c6c6c;
  font-size: 0.9em;
}

.block h2 {
  text-align: center;
  font-size: 2em;
  font-family: "Cormorant Infant", serif;
}

.block__card span {
  font-size: 0.7rem;
  color: #6c6c6c;
  text-transform: uppercase;
}

.block__card h3 {
  font-family: "Allison", cursive;
  font-size: 1.8rem;
  color: #6c6c6c;
}

@media screen and (min-width: 391px) {
  .header__navbar {
    font-size: 1.5rem;
  }
  .block p, .block ul {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }
  .block h2 {
    font-size: 5rem;
  }
  .header__baseline {
    font-size: 5rem;
  }
  .block__card span {
    font-size: 1rem;
  }
  .block__card h3 {
    font-size: 3rem;
  }
}
.block__card span {
  margin-top: 0.5rem;
}

.header__navbar {
  margin-top: 1rem;
}

.block__visuel img, .block img {
  margin-bottom: 1rem;
}

.block ul {
  margin: 1rem 0;
}

.header {
  display: flex;
  padding: 1.5rem 0;
}
.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__logo {
  width: 20rem;
  margin: 1rem;
}
@media screen and (min-width: 391px) {
  .header__logo {
    width: 30rem;
  }
}
.header__navbar {
  display: flex;
  justify-content: center;
  background-color: #915934;
  padding: 5px;
}
.header__navbar ul {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.header__navbar ul li a.active {
  color: #89b7d5;
}
footer .bandeau {
  background-color: #915934;
}
footer .bandeau__copyright {
  line-height: 3em;
  text-align: center;
  color: #89b7d5;
}

.block {
  padding: 0;
}
.block img {
  width: 100%;
}
.block ul {
  list-style: square;
  margin-left: 30px;
}

.block {
  padding: 0;
}
.block__visuel img {
  width: 100%;
}
.block ul {
  list-style: square;
  margin-left: 30px;
}
.block__card {
  padding: 6%;
}
.block__photos img {
  width: 100%;
}
.block__photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.block__card {
  display: grid;
  justify-items: center;
}/*# sourceMappingURL=style.css.map */