@use 'fonts' as font
@use 'colors' as color
@use 'spacing'

body
    font-family: font.$font-sans-serif

%text-menu
    font-size: 0.9rem

%menu-hover
    color: color.$white
    text-decoration: none

%text-baseline
    text-align: center
    font-size: 2.5rem
    color: color.$grey-dark
    font-family: font.$font-cursive

%paragraphe
    text-align: justify
    padding: 0 5%
    margin: 1.5rem 0
    line-height: 1.5rem
    color: color.$font-grey
    font-size: .9em

%h2-title
    @extend %top-m
    text-align: center
    font-size: 2em
    font-family: font.$mid-title

%span-legende
    font-size: .8rem
    color: color.$font-grey
    text-transform: uppercase
    display: inline-block
    width: 100%
    text-align: center
        

%h3-baseline
    font-family: font.$font-cursive
    font-size: 1.8rem
    color: color.$font-grey

@media screen and (min-width: 391px)
    %text-menu
        font-size: 1.5rem
    %paragraphe
        font-size: 1.2rem
        line-height: 2.2rem
    %h2-title
        font-size: 5rem
    %text-baseline
        font-size: 5rem
    %span-legende
        font-size: 1rem
    %h3-baseline
        font-size: 3rem